@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

/* ----- css reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;

  box-sizing: border-box;
}

/* ----- header ----- */

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  width: 38%;
  height: 38%;
  align-content: center;
}
