@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

/* ----- css reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #f3eeeb;

  box-sizing: border-box;
}

/* ----- header ----- */

h1 {
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.bug_two {
  width: 15%;
  height: 15%;
  margin-left: 3rem;
  display: inline-block;
  margin-top: 1rem;
}

/* ----- main content ----- */

.first-section,
.second-section,
.third-section,
article {
  margin: 5%;
  background-color: #eee8e5;
  box-shadow: 0.5rem 1rem 0.8rem rgb(199, 199, 199);
}

p {
  text-align: left;
  padding: 2%;
}

/* ----- image ----- */

figure {
  text-align: center;
}

.bug_one {
  border-radius: 50%;
  width: 38%;
  height: 38%;
  box-shadow: 0.5rem 1rem 0.8rem rgb(199, 199, 199);
}

/* ----- video ----- */

.media {
  text-align: center;
}

.media p {
  text-align: center;
  font-size: 0.12rem;
}

/* ----- footer ----- */

footer {
  width: 80vw;
  text-align: center;
  margin: auto;
  align-items: baseline;
}

footer p {
  text-align: center;
}

footer a {
  color: #777;
  text-decoration: none;
}

footer a:hover {
  color: #8c5c51;
}
